---
sudo: false

cache: bundler

rvm:
#  - 1.8.7 # binary no longer exists
  - 1.9.3
  - 2.0.0
  - 2.1.7
language: ruby
bundler_args: --without development --without integration
script: "bundle exec rake"
env:
  - PUPPET_GEM_VERSION=3.1.1
  - PUPPET_GEM_VERSION=3.2.4
  - PUPPET_GEM_VERSION=3.3.2
  - PUPPET_GEM_VERSION=3.4.3
  - PUPPET_GEM_VERSION=3.5.1
  - PUPPET_GEM_VERSION=3.6.2
  - PUPPET_GEM_VERSION=3.7.1
  - PUPPET_GEM_VERSION=4.2.2
  - PUPPET_GEM_VERSION=4.4.2
matrix:
  fast_finish: true
  exclude:
#    - rvm: 1.8.7 # binary no longer exists
#      env: PUPPET_GEM_VERSION=4.2.2
#    - rvm: 1.8.7 # binary no longer exists
#      env: PUPPET_GEM_VERSION=4.4.2
    - rvm: 1.9.3
      env: PUPPET_GEM_VERSION=4.2.2
    - rvm: 1.9.3
      env: PUPPET_GEM_VERSION=4.4.2
    - rvm: 2.0.0
      env: PUPPET_GEM_VERSION=3.1.1
    - rvm: 2.1.7
      env: PUPPET_GEM_VERSION=3.1.1
    - rvm: 2.1.7
      env: PUPPET_GEM_VERSION=3.2.4
    - rvm: 2.1.7
      env: PUPPET_GEM_VERSION=3.3.2
notifications:
  email: false
